<h1>Countries-Capitals</h1>

<% for(var i = 0; i < countries.length; i++){ %>
 <li>
     <%= countries[i].country %> - <strong><%= countries[i].capital %></strong>
 </li>
<% } %>


<!--foreach loop-->
<!--<% countries.forEach(function(country){ %>-->
<!-- <li>-->
<!--     <%= countries.country %> - <strong><%= countries.capital %></strong>-->
<!-- </li>-->
<!--<% }) %>-->
