<h1>My favorite place is: <%= place.toUpperCase()  %> </h1>

<% if(place.toLowerCase() === "amsterdam"){ %>
  <p>GOOD CHOICE!AMSTERDAM IS THE BEST!</p>
<% } else { %>
    <p>Bad choice!  You should have said another place!</p>
<% } %>